{% extends "base.html" %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">
{% if gamemode=='hard' %}
  {{ ' '.join([adjative.adjative,person.name,situation.engender(person.gender)])|markdown }}
{% endif %}
{% if gamemode=='normal' %}
  {{ ' '.join([person.name, situation.engender(person.gender)])|markdown }}
{% endif %}
{% if gamemode=='easy' %}
      {{ combination|markdown }}
      {% if shuffles_left>0 %}
      <p class="h2">(Rolls left: {{shuffles_left}})</p>
      {% endif %}
{% endif %}
      <a class="btn btn-danger btn-lg" role="button" title="This one Sucks!" href="?action=downvote">
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </a>
      <a class="btn btn-primary btn-lg" role="button" title="Gimme Another!" href="?action=new">
        <span class="glyphicon glyphicon-refresh"></span> Hit Me!
      </a>
      <a class="btn btn-success btn-lg" role="button" title="This one's Great!" href="?action=upvote">
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </a>
    <h1>
  </div>
</div>
{% endblock %}
